# THOMAS MCDONNELL QTS HW 5: FX CARRY TRADE

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp
import quandl
import functools
import seaborn as sns
import plotnine as p9
from datetime import datetime
from datetime import timedelta
from tqdm import tqdm
from pandas import DateOffset

import warnings

# Suppress the warning
warnings.filterwarnings("ignore")

In [ ]:
#Overnight Swaps Data
ois = quandl.get('YC/GBR_ISSC', api_key = 'uoxc6V3s61czWuHoGLcs')
part2 = quandl.get('YC/GBR_ISSS', api_key = 'uoxc6V3s61czWuHoGLcs')
ois = pd.concat([ois, part2])
ois = ois[['0.08Y']]

In [23]:
#FX Rates Data
vnd = quandl.get("CUR/VND", authtoken="uoxc6V3s61czWuHoGLcs")
thb = quandl.get("CUR/THB", authtoken="uoxc6V3s61czWuHoGLcs")
pkr = quandl.get("CUR/PKR", authtoken="uoxc6V3s61czWuHoGLcs")
php = quandl.get("CUR/PHP", authtoken="uoxc6V3s61czWuHoGLcs")
gbp = quandl.get("CUR/GBP", authtoken="uoxc6V3s61czWuHoGLcs")

In [24]:
#Yield Curve Data
vnd_yc = quandl.get("YC/VNM", authtoken="uoxc6V3s61czWuHoGLcs")
thb_yc = quandl.get("YC/THA", authtoken="uoxc6V3s61czWuHoGLcs")
pkr_yc = quandl.get("YC/PAK", authtoken="uoxc6V3s61czWuHoGLcs")
php_yc = quandl.get("YC/PHL", authtoken="uoxc6V3s61czWuHoGLcs")

In [26]:
#Excercise

               0.08Y
Date
2009-01-02  1.279724
2009-01-05  1.204601
2009-01-06  1.173760
2009-01-07  1.113437
2009-01-08  1.090821
...              ...
2022-12-12  3.425263
2022-12-13  3.454667
2022-12-14  3.440270
2022-12-15  3.425806
2022-12-16  3.429990

[3532 rows x 1 columns]